:root {
  /* --backgroundColor: #a1d6e2; */
  /*previous --backgroundColor: #ffffff; */
  /* new one below */
  --backgroundColor: white;
  --headingColor: #10132bf2;
  --paragraphColor: #9483B8;
  --fontColor: #0b2f49;
  /* --fontColor: #12293b; */
  --mutedColor: #6c757d;
  --maxWidth: 1100px;
  --cardBackgroundColor: #12293b;
  --cardTextColor: #eeeeee;
  --linkColor: blueviolet;

  --darkBackground: #10132bf2;
  --darkHeadingColor: #d3d2ef;
  --darkParaColor: #9483B8; 
  
}

[data-theme="light"] {
  --color-bg: var(--backgroundColor);
  --color-heading: var(--headingColor);
  --color-para: var(--fontColor);
  --color-link: var(--paragraphColor);
}

[data-theme="dark"] {
  --color-bg: var(--darkBackground);
  --color-heading: var(--darkHeadingColor);
  --color-para: var(--darkParaColor);
  --color-link: white;
}


* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-bg);
  color: var(--color-para);
}

/* .dark-theme {
  background-color: var(--backgroundColor);
  color: var(--paragraphColor);
} */

h1,h2,h3 {
  color: var(--color-heading);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

.flex {
  display: flex;
}

img {
  width: 15px;
  height: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

.text-center {
  text-align: center;
}

p {
  line-height: 1.6;
}


/* navigation bar */

nav {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.menu {
  color: var(--color-bg);
  /* background-color: white; */
  padding: 1rem;
  border-radius: 10px;;
}

.menu > a {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.menu > a:hover {
  background-color: var(--color-heading);
  color: var(--color-bg);
}

.showMenu {
  display: block;
  width: 50%;
  position: absolute;
  background-color: white;
  left: 40px;
  top: 100px;
  padding: 20px;
  border-radius: 15px;
}

.theme {
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  top: 0%;
  right: 1%;
  display: flex;
  border: 1px solid blueviolet;
  padding: 2px;
}

.theme > div {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.theme > div > svg {
  width: 1rem;
  height: 1rem;;
}

.toggle-theme {
  background-color: blueviolet;
}

.dark {
  background-color: var(--darkBackground);
  color: var(--darkParaColor);
}

.toggle-theme > svg {
  fill: white;
}

/* header section */

header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 2rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 10px 0px;
}

.hero-description {
  margin: 20px 0px;
}


/* about section */

.about {
  margin: 3rem 0px;
}

.about > div {
  padding: 20px 0px;
}

.about > .left-side > p {
  margin: 20px 0px;
}

.about > .skills-section > ul {
  margin: 20px 0px;
}

#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  text-align: center;
}

#skills-list > li {
  background-color: #373954;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}


/* work experience  */

.work-experience {
  margin: 3rem 0px;
}

.experience {
  margin-bottom: 2rem;
}

.experience > .heading > p {
  padding: 5px 0px;
}

.responsibilites {
  padding: 5px 0px;
}

/* project */

.projects {
  margin: 3rem 0px;
}

.projects svg {
  width: 15px;
  height: 15px;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  color: var(---cardTextColor);
}

.card-header, .card-footer {
  padding: 10px 0px;
}

/* footer */

footer {
  margin-top: 3rem;
}

.connect-icons {
  padding: 10px 0px;
}

.connect-icons > a {
  margin: 0px 5px;
}

footer svg {
  width: 1rem;
  height: 1rem;
}

.footer-bottom-text {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {  

  body {
    padding: 2rem;
  }

  /* nav section  */
  .menu {
    padding: 2rem;
  }

  /* about section */

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }


  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
  
}


@media only screen and (min-width: 1024px) { 

  .theme {
    border-radius: 1rem;
    top: 1%;
    right: 1%;
    display: flex;
    border: 1px solid blueviolet;
    padding: 5px;
  }
  
  .theme > div {
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .theme > div > svg {
    width: 1.5rem;
    height: 1.5rem;;
  }
  

  body {
    font-size: 18px;
    padding: 2rem 6rem;
  }

  header {
    height: 70vh;
  }

  /* nav section */

  .menu {
    padding: 1.5rem;
  }

   /* about section */

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  #skills-list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
  }

  .work-experience {
    display: grid;
    grid-template-columns: 30vw auto;
    justify-content: space-around;
  }

  .work-experience > h2 {
    grid-row-start: 1;
    grid-row-end: span 2;
    align-self: center;
    justify-self: center;
  }

  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  footer svg {
    width: 2rem;
    height: 2rem;
  }
}
