:root {
  /* --backgroundColor: #a1d6e2; */
  /*previous --backgroundColor: #ffffff; */
  /* new one below */
  --backgroundColor: #10132bf2;
  --fontColor: #d3d2ef;
  --paragraphColor: #9483B8;
  --dimColor: #0b2f49;
  /* --fontColor: #12293b; */
  --mutedColor: #6c757d;
  --maxWidth: 1100px;
  --cardBackgroundColor: #12293b;
  ---cardTextColor: #eeeeee;
  
}


* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 20px;
  font-size: 16px;
  background-color: var(--backgroundColor);
  color: var(--paragraphColor);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3 {
  color: var(--fontColor);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
}

.flex {
  display: flex;
}

img {
  width: 15px;
  height: 15px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--paragraphColor);
}

.text-center {
  text-align: center;
}

p {
  line-height: 1.6;
}


/* navigation bar */

nav {
  margin: 20px 0px;
  background-color: var(---cardTextColor);
  padding: 10px;
  border-radius: 20px;
  color: var(--backgroundColor);
}

/* .lg-view {
  display: none;;
}

.mb-menu {
  display: none;
} */


.menu {
  display: flex;
  justify-content: center;
}

.menu > a {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.menu > a:hover {
  background-color: var(--backgroundColor);
  color: var(---cardTextColor);
}

.showMenu {
  display: block;
  width: 50%;
  position: absolute;
  background-color: white;
  left: 40px;
  top: 100px;
  padding: 20px;
  border-radius: 15px;
}


/* header section */

header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  font-size: 2rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 10px 0px;
}

.hero-description {
  margin: 20px 0px;
}


/* about section */

.about {
  margin: 3rem 0px;
}

.about > div {
  padding: 20px 0px;
}

.about > .left-side > p {
  margin: 20px 0px;
}

.about > .skills-section > ul {
  margin: 20px 0px;
}

#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
}

#skills-list > li {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}


/* work experience  */

.work-experience {
  margin: 3rem 0px;
}

.experience {
  margin-bottom: 2rem;
}

.experience > .heading > p {
  padding: 5px 0px;
}

.responsibilites {
  padding: 5px 0px;
}

/* project */

.projects {
  margin: 3rem 0px;
}

.projects svg {
  width: 15px;
  height: 15px;
}

.card {
  margin-bottom: 2rem;
}

.card-header {
  color: var(---cardTextColor);
}

.card-header, .card-footer {
  padding: 10px 0px;
}

.card-footer a {
  color: white;
}

/* footer */

footer {
  margin-top: 3rem;
}

.connect-icons {
  padding: 10px 0px;
}

.connect-icons > a {
  margin: 0px 5px;
}

footer svg {
  width: 20px;
  height: 20px;
}

.footer-bottom-text {
  margin-top: 20px;
}

